---
Checks: >
  -*, 
  bugprone-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: file